#ronnie {
	float:left;
}

#susan {
	float:middle;
}

#danny {
	float:left;
}

#ann {
	float:left;
}

{background-color:#118ADD ;}
h1
		{color:White;}
		
body {
		background-color:#118ADD
}

#cal {
	float:right;
}